@model IEnumerable<Data.ParkingSys.Model.Cliente>

@{
    ViewBag.Title = "Clientes";
}

<h2>Clientes</h2>
@Html.AntiForgeryToken()
<p>
    <button class="btn btn-success" id="new">Novo</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sobrenome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logradouro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sobrenome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cpf)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.Cep)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Uf)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Cidade)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Bairro)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Logradouro)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Numero)
        </th>
        <td>
            <button class="btn btn-default edit" id="edit" data-id="@item.ClienteID">
                <i class="glyphicon glyphicon-edit"></i>Editar
            </button> |
            <button class="btn btn-info details" id="details" data-id="@item.ClienteID">
                <i class="glyphicon glyphicon-info-sign"></i>Detalhes
            </button> |
            <button class="btn btn-danger delete" id="delete" data-id="@item.ClienteID">
                <i class="glyphicon glyphicon-trash"></i>Excluir
            </button>
        </td>
    </tr>
    }

</table>
<div class="modal fade" id="delete-confirm" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Atenção</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deseja excluir o cliente?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary delete-now">Deletar</button>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(function () {
            $('.delete').click(function () {
                const id = $(this).attr("data-id");
                $('#delete-confirm').modal('show');
                $('.delete-now').click(_ => {
                    ajax.delete(`Delete/${id}`, {
                        __RequestVerificationToken: $('input[name = "__RequestVerificationToken"]').val(),
                    }, () => {
                        location.reload();
                        })
                });
            });
            $(".details").click(function () {
                const id = $(this).attr("data-id");
                $('#modal-area').load("Details/" + id, () => {
                    $(".modal-details-cliente").modal('show')
                })
            });
            const modalCreateEditAction = function (event) {
                const route = (event.currentTarget.id === 'edit')
                    ? 'Edit/' + $(this).attr("data-id")
                    : 'Create';
                $('#modal-area').load(route, () => {
                    $(".modal-create-edit-cliente").modal('show')
                    $(".submit").click(() => {
                        ajax.post(route, {
                            __RequestVerificationToken: $('input[name = "__RequestVerificationToken"]').val(),
                            ClienteID: $('#ClienteID').val(),
                            Nome: $('#Nome').val(),
                            Sobrenome: $('#Sobrenome').val(),
                            Email: $('#Email').val(),
                            Ativo: $('#Ativo')[0].checked,
                            Cpf: $('#Cpf').val(),
                            Cep: $('#Cep').val(),
                            Numero: $('#Numero').val(),
                            Uf: $('#Uf').val(),
                            Cidade: $('#Cidade').val(),
                            Bairro: $('#Bairro').val(),
                            Logradouro: $('#Logradouro ').val()
                        }, (response) => {
                            if (response.Status && response.Status == 'OK') {
                                location.reload()
                            }
                            response.map(({ field, message }) => {
                                $("form").find(`[data-valmsg-for='${field}']`).text(message)
                            })
                        })
                    });
                })
            }
            $("#new").click(modalCreateEditAction);
            $(".edit").click(modalCreateEditAction);
        })
    </script>
}