<hr />
@Html.ActionLink("Enviar por GET", "Index", new
{
	matricula1 = "1700028",
	nome1 = "Crystopher Glodzienski Cardoso",
	matricula2 = "199999999",
	nome2 = "José da Silva"
})
<hr />
<ul>
	<li>@Request.QueryString["matricula1"]: @Request.QueryString["nome1"]</li>
	<li>@Request.QueryString["matricula2"]: @Request.QueryString["nome2"]</li>
</ul>
