<hr />
@Html.ActionLink("Enviar por GET", "Index", new
{
	matricula1 = "1700028",
	nome1 = "Crystopher Glodzienski Cardoso",
	matricula2 = "199999999",
	nome2 = "José da Silva"
})
<hr />
<form method="post">
	<input type="text" name="nome1" placeholder="nome" /><br />
	<input type="text" name="matricula1" placeholder="matricula" /><br />
	<hr />
	<input type="text" name="nome2" placeholder="nome" /><br />
	<input type="text" name="matricula2" placeholder="matricula" /><br />
	<button>Enviar por post</button>
</form>
<hr />
<ul>
	<li>@Request["matricula1"]: @Request["nome1"]</li>
	<li>@Request["matricula2"]: @Request["nome2"]</li>
</ul>
